a.lightBlueBtn,
button.lightBlueBtn,
input.lightBlueBtn {

}
a.mediumBlueBtn,
button.mediumBlueBtn,
input.mediumBlueBtn {
    background-color: $mediumBlue;
    border: 0;
    border-radius: 5px;
    color: $w;
    font-family: $ralMedium;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-align: center;
    @include transition(all .4s ease-in-out);

    &.btn-lg {
        font-size: 1.2rem;
        padding: 1rem 2rem;
        text-align: center;
    }

    &:hover,
    &:focus,
    &.active,
    &:disabled{
        background-color: $lightBlue;
        border: 0;
        box-shadow: none;
        color: $w;
        outline: none;
        text-decoration: none;
    }
}
a.mediumBlueOutlineBtn,
button.mediumBlueOutlineBtn,
input.mediumBlueOutlineBtn {
    background-color: transparent;
    border: 1px solid $mediumBlue;
    border-radius: 5px;
    color: $mediumBlue;
    font-family: $ralMedium;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-align: center;
    @include transition(all .4s ease-in-out);

    &.btn-lg {
        font-size: 1.2rem;
        padding: 1rem 2rem;
        text-align: center;
    }

    &:hover,
    &:focus,
    &.active,
    &:disabled{
        background-color: $mediumBlue;
        border: 1px solid $mediumBlue;
        box-shadow: none;
        color: $w;
        outline: none;
        text-decoration: none;
    }
}
a.darkBlueBtn,
button.darkBlueBtn,
input.darkBluebtn {
    background-color: $darkBlue;
    border: 0;
    border-radius: 5px;
    color: $w;
    font-family: $ralMedium;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    @include transition(all .4s ease-in-out);

    &.btn-lg {
        font-size: 1.2rem;
        padding: 1rem 2rem;
        text-align: center;
    }

    &:hover,
    &:focus,
    &.active,
    &:disabled{
        background-color: $mediumBlue;
        border: 0;
        box-shadow: none;
        color: $w;
        outline: none;
        text-decoration: none;
    }
}
a.darkBlueOutlineBtn,
button.darkBlueOutlineBtn,
input.darkBlueOutlineBtn {
    background-color: transparent;
    border: 1px solid $darkBlue;
    border-radius: 5px;
    color: $darkBlue;
    font-family: $ralMedium;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    @include transition(all .4s ease-in-out);

    &.btn-lg {
        font-size: 1.2rem;
        padding: 1rem 2rem;
        text-align: center;
    }

    &:hover,
    &:focus,
    &.active,
    &:disabled{
        background-color: $darkBlue;
        border: 1px solid $darkBlue;
        box-shadow: none;
        color: $w;
        outline: none;
        text-decoration: none;
    }
}

.btn {
    .fa-chevron-right,
    .fa-plus{
        margin-left: 5px;
        @include transition(all .4s ease-in-out);
    }
    .fa-chevron-left {
        margin-right: 5px;
        margin-right: 5px;
        @include transition(all .4s ease-in-out);
    }
    &:hover {
        .fa-chevron-right,
        .fa-plus {
            margin-left: 15px;
        }
        .fa-chevron-left {
            margin-right: 15px;
        }
    }
}

