.projectSinglePage {
    .progressBarWrap {
        border-bottom: 1px solid lighten($mediumGrey2, 40%);
        margin-bottom: 20px;
        padding-bottom: 20px;

        h2 {
            color: $darkBlue;
            font-family: $ralMedium;
            font-size: 1.5rem;
        }
    }
    table.projectOverviewMainTable {
        margin-bottom: 30px;
        width: 100%;
        tbody {
            tr {
                border-bottom: 1px solid lighten($mediumGrey2, 40%);
                td {
                    color: $b;
                    font-family: $ralReg;
                    font-size: 1rem;
                    margin-bottom: 0;
                    padding: .5rem 0;
                    vertical-align: middle;

                    &:nth-of-type(even) {
                        text-align: right;
                    }

                    strong {
                        color: $darkBlue;
                        font-family: $ralBold;
                    }
                }
            }
        }
    }
    .sectionTitle {
        color: $mediumBlue;
        font-family: $ralSemiBold;
        font-size: 2rem;
        margin-bottom: 30px;
    }
    .projectTasksOverviewWrapper {

    }
}
